<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{operation.type}} : <br>
        {{operation.created_at}}  - $ {{operation.amount}} - {{operation.description}}

    </div>
    <h3>Estas a punto de eliminar la operacion ¿estas seguro que deseas continuar?</h3>
    <a href="{% url 'accounts:delete_operation' request.user.id operation.id %}">Si</a><br><br>
    <a href="{% url 'accounts:index' request.user.id %}">No</a><br><br>


</body>
</html>