<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index de Cuentas</h1>
    <h3>Balance: {{general_balance}}</h3><br>
    {% for account in accounts_list %}
    Cuenta: {{account.name}} - banco: {{account.bank}} - balance: {{account.balance}} 
    <a href="{% url 'accounts:account_detail' request.user.id account.id %}">view</a> 
    <a href="{% url 'accounts:update_account' request.user.id account.id %}">update</a> 
    <a href="{% url 'accounts:delete_account' request.user.id account.id %}">delete</a> 
         <br>
    {% endfor %}
    <br><br>

    {% for operation in operations_list %}
    {{operation.created_at}} - {{operation.type}}: - monto: {{operation.amount}} - descripcion: {{operation.description}} <br>
    {% endfor %}
    {{request.session.success_message}} <br>
    {{request.session.error_message}} <br>
    <br><br>
    <a href="{% url 'accounts:new_operation' request.user.id %}">Nueva Operacion</a><br><br>
    <a href="{% url 'accounts:new_operation_transfer' request.user.id %}">Nueva Transferencia</a><br><br>
    <a href="{% url 'accounts:create_account' request.user.id %}">Nueva Cuenta</a><br><br>
    
    <a href="{% url 'main:index' %}">volver a inicio</a>

</body>
</html>