<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Transferencia</h1>
    <form action="{% url 'accounts:transfer_created'  %}" method="post">
        {% csrf_token %}
        <label for="account_name" >Cuenta:</label>
        <input   list="account-list" name="account_name" placeholder="Selccione Opcion.." required>
            <datalist id="account-list">
                {% for account in accounts_list  %}
                    <option value="{{account.name}}">{{account.name}} | ${{account.balance}}</option>                
                {% endfor %}  
            </datalist><br><br>

        
        <label for="second_account_name" >Cuenta a transferir:</label>
        <input   list="account-list" name="second_account_name" placeholder="Selccione Opcion.." required>
        <datalist id="account-list">
            {% for account in accounts_list  %}
                <option value="{{account.name}}">{{account.balance}}</option>                
            {% endfor %}  
        </datalist>
        <br><br>

        <label for="amount">monto</label><br>
        <input type="number" step="0.01" name="amount" placeholder="monto" required><br>
        
            
        <input type="submit" value="Create">


    </form>
    {{ request.session.error_message }} <br>

    <a href="{% url 'accounts:index' %}">Cancelar</a>
</body>
</html>