<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Account</h1>
    <form action="{% url 'accounts:account_created' %}" method="post">
        {% csrf_token %}
        <label for="name">Account name</label><br>
        <input type="text" name="name" placeholder="name" required><br>
        
        <label for="description">description</label><br>
        <input type="text" name="description" placeholder="description" required><br>

        <label for="bank">bank</label><br>
        <input type="text" name="bank" placeholder="bank" required><br>
  
        <label for="initial_balance">Initial Balance</label><br>
        <input type="number" step="0.01" name="initial_balance" value="0" minlength="8" required><br>

        <input type="submit" value="Create">


    </form>
    {{ request.session.error_message }} <br>

    <a href="{% url 'accounts:index' %}">Cancelar</a>
</body>
</html>