<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Operation </h1>

    <div>
        Cuenta: {{operation.account.name}} <br><br>
        Tipo : {{operation.type}} <br>
        Monto: {{operation.amount}} <br>
        Descripcion: {{operation.description}} <br>
        Categoria: {{operation.category.name}} <br>
        Fecha: {{operation.date}}
    </div>
    <br><br>
    <a href="{% url 'accounts:index' %}">Volver</a>

</body>
</html>