<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Account</h1>
    <form action="{% url 'accounts:account_updated'  account.id %}" method="post">
        {% csrf_token %}
        <label for="name">Account name</label><br>
        <input type="text" name="name" value="{{account.name}}" required><br>
        
        <label for="description">description</label><br>
        <input type="text" name="description" value="{{account.description}}" required><br>

        <label for="bank">bank</label><br>
        <input type="text" name="bank" value="{{account.bank}}" required><br>

        <label for="balance">balance</label><br>
        <input type="number" step="0.01" name="balance" value="{{account.balance}}" required><br><br>

        <input type="checkbox" name="balance_checkbox" value="True" checked>  
        <label for="balance_checkbox">Crear operacion para ajustar el balance</label><br><br>

        <input type="submit" value="Update">
    </form>
    {{ request.session.error_message }} <br>
    {{ request.session.success_message }} <br>


    <a href="{% url 'accounts:index' %}">Volver</a>
</body>
</html>