<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estas a punto de eliminar la categoria {{category.name}}</h1>

    <h3>seguro deseas continuar?</h3>
    <a href="{% url 'categories:delete_category' category.id %}">Si</a>
    <a href="{% url 'categories:user_categories' %}">No</a>


</body>
</html>