<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Category</h1>
    <form action="{% url 'categories:update_category_save' category.id %}" method="post">
        {% csrf_token %}
        <label for="name">Category name</label><br>
        <input type="text" name="name" value="{{category.name}}" required><br>
        
        <input type="submit" value="Guardar">
    </form>
    {{ request.session.success_message }} <br>
    {{ request.session.error_message }} <br>

    <a href="{% url 'categories:user_categories'  %}">Volver</a>
</body>
</html>