<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello {{user.username}}</h1>
    <br>
    {{user.first_name}}    {{user.last_name}} <br>
    id: {{user.id}} <br>
    {{request.user.pk}}


    <br><br>
    <a href="{% url 'accounts:index' request.user.id%}">Cuentas</a>
    <br><br>
    <a href="{% url 'main:index'%}">inicio</a><br>
    <a href="{% url 'main:reset_password' %}">Change password</a><br>
    <a href="{% url 'main:update_user' request.user.id %}">Update</a><br>
    <br>
    <a href="{% url 'main:logout'%}">Logout</a><br>
    <br>
    <a href="{% url 'main:delete_user' request.user.id %}">Delete</a><br>

</body>
</html>